@import 'normalize.css';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&display=swap');

html {
   font-size: 62.5%;
}

* {
   box-sizing: border-box;
}

body {
   font-family: 'Montserrat';
   font-family: sans-serif;
   font-size: 1.6rem;
}

:root {
   --primary-color: #fe2c55;
}
